<!-- Nav bar items -->
<li nz-menu-item>
  <nz-input-group nzSuffixIcon="anticon anticon-search">
    <input type="text" nz-input placeholder="input search text">
  </nz-input-group>
</li>
<li nz-menu-item [ngClass]="checkActive('/', false)"><a routerLink="/" routerLinkActive="active"><i class="anticon anticon-home"></i> <span>Home</span></a></li>
<li nz-submenu [ngClass]="checkActive('/products', true)">
  <span title><i class="anticon anticon-shop"></i> <span>Products Manager</span></span>
  <ul>
    <li nz-menu-item [ngClass]="checkActive('/products/create', false)"><a routerLink="/products/create" routerLinkActive="active"><i class="anticon anticon-addfile"></i> <span>Add Product</span></a></li>
    <li nz-menu-item [ngClass]="checkActive('/products', false)"><a routerLink="/products" routerLinkActive="active"><i class="anticon anticon-book"></i> <span>Products</span></a></li>
  </ul>
</li>
<li nz-submenu [ngClass]="checkActive('/brands', true)">
  <span title><i class="anticon anticon-apple"></i> <span>Brands Manager</span></span>
  <ul>
    <li nz-menu-item [ngClass]="checkActive('/brands/create', false)"><a routerLink="/brands/create" routerLinkActive="active"><i class="anticon anticon-addfolder"></i> <span>Add Brand</span></a></li>
    <li nz-menu-item [ngClass]="checkActive('/brands', false)"><a routerLink="/brands" routerLinkActive="active"></a><i class="anticon anticon-ant-design"></i> <span>Brands</span></li>
  </ul>
</li>
<li nz-submenu [ngClass]="checkActive('/categories', true)">
  <span title><i class="anticon anticon-bars"></i> <span>Categories Manager</span></span>
  <ul>
    <li nz-menu-item [ngClass]="checkActive('/categories/create', false)"><a routerLink="/categories/create"><i class="anticon anticon-medicine-box" routerLinkActive="active"></i> <span>Add Category</span></a></li>
    <li nz-menu-item [ngClass]="checkActive('/categories', false)"><a routerLink="/categories"><i class="anticon anticon-table" routerLinkActive="active"></i> <span>Categories</span></a></li>
  </ul>
</li>
<li nz-submenu [ngClass]="checkActive('/users', true)">
  <span title><i class="anticon anticon-user"></i> <span>Users Manager</span></span>
  <ul>
    <li nz-menu-item [ngClass]="checkActive('/users/create', false)"><a routerLink="/users/create"><i class="anticon anticon-usergroup-add" routerLinkActive="active"></i> <span>Add User</span></a></li>
    <li nz-menu-item [ngClass]="checkActive('/users', false)"><a routerLink="/users" routerLinkActive="active"><i class="anticon anticon-user"></i> <span>Users</span></a></li>
  </ul>
</li>
<li nz-submenu [ngClass]="checkActive('/orders', true)">
  <span title><i class="anticon anticon-shopping-cart"></i> <span>Orders Manager</span></span>
  <ul>
    <li nz-menu-item [ngClass]="checkActive('/orders/create', false)"><a routerLink="/orders/create"><i class="anticon anticon-plus" routerLinkActive="active"></i> <span>Make Orders</span></a></li>
    <li nz-menu-item [ngClass]="checkActive('/orders', false)"><a routerLink="/orders" routerLinkActive="active"><i class="anticon anticon-shopping-cart"></i> <span>Orders</span></a></li>
  </ul>
</li>
<li nz-menu-item><i class="anticon anticon-info-circle"></i> <span>About</span></li>
<li nz-menu-item><i class="anticon anticon-github"></i> <span>Git</span></li>
<li nz-menu-item><a (click)="signOut()"><i class="anticon anticon-logout"></i> <span>Sign Out</span></a></li>
<!-- Nav bar items -->
