<nz-card [nzTitle]="'Products'">
  <form nz-form [formGroup]="form">
    <nz-table [nzData]="dataSet" nzBordered [nzShowPagination]="false" [nzFooter]="tableFooter">
      <thead>
      <tr class="products-table-head">
        <th>#</th>
        <th>Product</th>
        <th>Product Code</th>
        <th nzWidth="150px">Quantity</th>
        <th nzWidth="100px">Price</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr formArrayName="products" *ngFor="let productForm of getProductsFormArray(); let i = index" class="products-table-body">
        <ng-container [formGroupName]="i">
          <td>{{i + 1}}</td>
          <td>
            <nz-select
              (ngModelChange)="onChooseProduct($event, i)"
              [(ngModel)]="chosenProduct[i]"
              [ngModelOptions]="{standalone: true}"
              nzPlaceHolder="Select product"
              nzShowSearch
              [nzServerSearch]="true"
              (nzOnSearch)="onSearchProduct($event)">
              <nz-option *ngFor="let option of productOptions" [nzValue]="option" [nzLabel]="option.name"></nz-option>
            </nz-select>
          </td>
          <td>{{chosenProduct[i]?chosenProduct[i].code:''}}</td>
          <td>
            <nz-input-number formControlName="qty" [nzMin]="1" [nzStep]="1" [nzPlaceHolder]="'Quantity'"></nz-input-number>
          </td>
          <td>
            {{productForm.get('unit_price').value}}
          </td>
          <td>
            {{productForm.get('unit_price').value * productForm.get('qty').value}}
          </td>
          <td>
            <a (click)="removeProduct(i)" nz-tooltip [nzTitle]="'Remove product'"><i class="anticon-minus anticon"></i></a>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </nz-table>
  </form>

  <ng-template #tableFooter>
    <b>Total:</b> {{mathTotalPrice()}}
  </ng-template>
  <button nz-button [nzType]="'primary'" (click)="addProducts($event)" class="mt-10">
    <i class="anticon anticon-plus"></i> <span>More Product</span>
  </button>
</nz-card>

<!-- Order information card -->
<nz-card [nzTitle]="'Order Information'">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'" class="order-form" (submit)="onSubmitForm()">
    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- Email input -->
        <nz-form-item>
          <nz-form-label nzRequired>Customer Email</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-mail">
              <input nz-input placeholder="Enter customer's email." [formControlName]="'receiver_email'">
            </nz-input-group>

            <nz-form-explain *ngIf="form.get('receiver_email').dirty && form.get('receiver_email').errors">
              <ng-container *ngIf="form.get('receiver_email').hasError('required')">
                Please input customer's email!
              </ng-container>
              <ng-container *ngIf="form.get('receiver_email').hasError('pattern')">
                This isn't a correct email!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /email input -->
      </div>

      <div nz-col [nzSpan]="12">
        <!-- Phone input -->
        <nz-form-item>
          <nz-form-label nzRequired>Customer phone</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-phone">
              <input nz-input placeholder="Enter customer's phone." formControlName="receiver_phone">
            </nz-input-group>

            <nz-form-explain *ngIf="form.get('receiver_phone').dirty && form.get('receiver_phone').errors">
              <ng-container *ngIf="form.get('receiver_phone').hasError('required')">
                Please input customer's phone!
              </ng-container>
              <ng-container *ngIf="form.get('receiver_phone').hasError('pattern')">
                This isn't a correct phone number! The correct pattern is +86 111 111 1111 or 0111111111,...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /phone input -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- select city -->
        <nz-form-item>
          <nz-form-label nzRequired>Select City</nz-form-label>
          <nz-form-control>
            <nz-select [nzPlaceHolder]="'Select user\'s city'"
                       [formControlName]="'receiver_city'"
                       (ngModelChange)="onSelectedCity($event)">
              <nz-option *ngFor="let c of cities" [nzLabel]="c.Title" [nzValue]="c.ID"></nz-option>
            </nz-select>

            <nz-form-explain *ngIf="form.get('receiver_city').dirty && form.get('receiver_city').errors">
              <ng-container *ngIf="form.get('receiver_city').hasError('required')">
                Please select a city!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /select city -->
      </div>

      <div nz-col [nzSpan]="12">
        <!-- select district -->
        <nz-form-item>
          <nz-form-label nzRequired>Select district</nz-form-label>
          <nz-form-control>

            <nz-select [nzPlaceHolder]="'Select customer\'s district'"
                        [formControlName]="'receiver_district'"
                        (ngModelChange)="onSelectedDistrict()">
              <nz-option *ngFor="let d of districts" [nzLabel]="d.Title" [nzValue]="d.ID"></nz-option>
            </nz-select>

            <nz-form-explain *ngIf="form.get('receiver_district').dirty && form.get('receiver_district').errors">
              <ng-container>
                Please select a district!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /select district -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- select city -->
        <nz-form-item>
          <nz-form-label nzRequired>Customer ward</nz-form-label>
          <nz-form-control>

            <nz-select [nzPlaceHolder]="'Select customer\'s ward'" [formControlName]="'receiver_ward'">
              <nz-option *ngFor="let w of wards" [nzLabel]="w.Title" [nzValue]="w.ID"></nz-option>
            </nz-select>

            <nz-form-explain *ngIf="form.get('receiver_ward').dirty && form.get('receiver_ward').errors">
              Please select a ward!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /select city -->
      </div>

      <div nz-col [nzSpan]="12">
        <!-- select district -->
        <nz-form-item>
          <nz-form-label nzRequired>Customer address</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-home">
              <input nz-input placeholder="Enter customer's address" formControlName="receiver_address">
            </nz-input-group>

            <nz-form-explain *ngIf="form.get('receiver_address').dirty && form.get('receiver_address').errors">
              Please input customer address!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /select district -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="24">
        <!-- Button -->
        <nz-form-item>
          <nz-form-control nz-col [nzSpan]="24">
            <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isSubmitting">
              <i class="anticon anticon-check"></i> <span>Submit</span>
            </button>
            <button nz-button (click)="resetForm()"><i class="anticon anticon-retweet"></i> <span>Reset</span></button>
          </nz-form-control>
        </nz-form-item>
        <!-- /Button -->
      </div>
    </div>
  </form>
</nz-card>
<!-- Order information card -->

