.products-table-head > th {
  text-align: center;
}

.products-table-body {
  text-align: center;
}

button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.order-form {
  max-width: 600px;
  margin: 20px auto;
}
