<nz-card nzTitle="Products form">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'" class="product-form" (ngSubmit)="submitForm($event,form.value)">
    <div nz-row nzGutter="8">
      <div nz-col [nzSm]="12">
        <!-- Name input -->
        <nz-form-item>
          <nz-form-label nzRequired>Product name</nz-form-label>
          <nz-form-control >
            <input nz-input formControlName="name" placeholder="Enter name of product.">
            <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">
              <ng-container *ngIf="form.get('name').hasError('required')">
                Please input category name!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /name input -->
      </div>
      <div nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired>Categories</nz-form-label>
          <nz-form-control>
            <nz-cascader
              [nzOptions]="categoriesList"
              formControlName="categories">
            </nz-cascader>
            <nz-form-explain *ngIf="form.get('categories').dirty && form.get('categories').errors">
              <ng-container *ngIf="form.get('categories').hasError('required')">
                Please select a category.
              </ng-container>
              <ng-container *ngIf="form.get('categories').hasError('minlength')">
                Please select a category.
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSm]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Price</nz-form-label>
          <nz-form-control>
            <nz-input-number formControlName="price" style="width: 100%" [nzMin]="1"></nz-input-number>
            <nz-form-explain *ngIf="form.get('price').dirty && form.get('price').errors">
              <ng-container *ngIf="form.get('price').hasError('required')">
                Please enter product price.
              </ng-container>
              <ng-container *ngIf="form.get('price').hasError('min')">
                Price must greater than 0.
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSm]="8">
        <!-- Handle input -->
        <nz-form-item>
          <nz-form-label nzRequired>Product Code</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input formControlName="code" placeholder="Enter product code.">
            <nz-form-explain *ngIf="form.get('code').dirty && form.get('code').errors || form.get('code').pending ">
              <ng-container *ngIf="form.get('code').hasError('required')">
                Please input product code!
              </ng-container>
              <ng-container *ngIf="form.get('code').hasError('pattern')">
                Product code only have characters, numbers, and '-' or '_'!
              </ng-container>
              <ng-container *ngIf="form.get('code').hasError('duplicated')">
                The product code is duplicated!
              </ng-container>
              <ng-container *ngIf="form.get('code').pending">
                Validating...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /handle input -->
      </div>

      <div nz-col [nzSm]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Brand</nz-form-label>
          <nz-form-control>
            <nz-select [formControlName]="'brand'" nzAllowClear nzPlaceHolder="Choose brand">
              <nz-option *ngFor="let b of brandsList" [nzValue]="b._id" [nzLabel]="b.name"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="form.get('brand').dirty && form.get('brand').errors">
              <ng-container *ngIf="form.get('brand').hasError('required')">
                Please select a brand.
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSm]="24">
        <!-- Description input -->
        <nz-form-item>
          <nz-form-label nzRequired>Description</nz-form-label>
          <nz-form-control>
            <textarea formControlName="description" nz-input rows="2" placeholder="Write description of brand."></textarea>
            <nz-form-explain *ngIf="form.get('description').dirty&&form.get('description').hasError('required')">Please write category description!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- Description input -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="24">
        <!-- Logo uploader -->
        <nz-form-item>
          <nz-form-label nzRequired>Logo</nz-form-label>
          <!--[nzCustomRequest]="handleUpload"-->
          <nz-upload
            [nzAction]="'/'"
            nzListType="picture-card"
            [(nzFileList)]="imagesList"
            [nzShowButton]="imagesList.length < 5"
            [nzPreview]="handlePreview"
            [nzRemove]="handleRemove"
            [nzCustomRequest]="handleUpload">
            <i class="anticon anticon-plus"></i>
            <div class="ant-upload-text">Upload Logo</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
          </nz-modal>
          <input type="hidden" formControlName="images">

          <nz-form-explain *ngIf="form.get('images').dirty && form.get('images').errors" style="color: #f5222d">
            <ng-container *ngIf="form.get('images').hasError('required') || form.get('images').hasError('minlength')">
              Please upload a brand logo!
            </ng-container>
          </nz-form-explain>
        </nz-form-item>
        <!--/ Logo uploader -->
      </div>
    </div>

    <div nz-row nzGutter="8" formArrayName="specifications" *ngFor="let sp of getSpecifications(); let i = index">
      <ng-container [formGroupName]="i">
        <div nz-col [nzSpan]="11">
          <!-- Description input -->
          <nz-form-item>
            <nz-form-label [nzRequired]>Key</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="key" placeholder="Name of specifications">
              <!--<nz-form-explain *ngIf="form.get('parent').dirty&&form.get('parent').hasError('required')">Please select parent when category isn't root category!</nz-form-explain>-->
            </nz-form-control>
          </nz-form-item>
          <!-- Description input -->
        </div>
        <div nz-col [nzSpan]="11">
          <!-- Description input -->
          <nz-form-item>
            <nz-form-label [nzRequired]>Value</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="value" [attr.placeHolder]="'Value of ' + form.get('specifications').value[i].key">
            </nz-form-control>
          </nz-form-item>
          <!-- Description input -->
        </div>
        <div nz-col [nzSpan]="2">
          <nz-form-item>
            <nz-form-label>&nbsp;</nz-form-label>
            <button nz-button [nzType]="'danger'" (click)="removeSpecifications($event, i)"><i class="anticon anticon-minus"></i></button>
          </nz-form-item>

        </div>
      </ng-container>
    </div>


    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- Button -->
        <nz-form-item>
          <nz-form-control nz-col [nzSpan]="24">
            <button nz-button type="button" nzType="primary" (click)="addSpec($event)" >Add spec</button>
          </nz-form-control>
        </nz-form-item>
        <!-- /Button -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- Button -->
        <nz-form-item>
          <nz-form-control nz-col [nzSpan]="24">
            <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isSubmitting"><i class="anticon anticon-check"></i> <span>Submit</span></button>
            <button nz-button (click)="resetForm($event)"><i class="anticon anticon-retweet"></i> <span>Reset</span></button>
          </nz-form-control>
        </nz-form-item>
        <!-- /Button -->
      </div>
    </div>


  </form>
</nz-card>
