<nz-card nzTitle="Brands form">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'" class="brand-form" (ngSubmit)="submitForm($event,form.value)">
    <!-- Name input -->
    <nz-form-item>
      <nz-form-label nzRequired>Brand name</nz-form-label>
      <nz-form-control nzHasFeedback>
        <nz-input-group nzPrefixIcon="anticon anticon-tag-o">
          <input formControlName="name" nz-input placeholder="Enter name of brand.">
        </nz-input-group>
        <!--<input nz-input formControlName="name" placeholder="">-->
        <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors || form.get('name').pending ">
          <ng-container *ngIf="form.get('name').hasError('required')">
            Please input brand name!
          </ng-container>
          <ng-container *ngIf="form.get('name').hasError('maxlength')">
            Brand name must have less than 50 characters!
          </ng-container>
          <ng-container *ngIf="form.get('name').hasError('duplicated')">
            The name is duplicated!
          </ng-container>
          <ng-container *ngIf="form.get('name').pending">
            Validating...
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- /name input -->

    <!-- Description input -->
    <nz-form-item>
      <nz-form-label nzRequired>Description</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="anticon anticon-flag">
          <textarea formControlName="description" nz-input rows="2" placeholder="Write description of brand."></textarea>
        </nz-input-group>

        <nz-form-explain *ngIf="form.get('description').dirty&&form.get('description').hasError('required')">Please write brand description!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- Description input -->

    <!-- Logo uploader -->
    <nz-form-item>
      <nz-form-label nzRequired>Logo</nz-form-label>

      <nz-upload
        [nzCustomRequest]="handleUpload"
        nzAction="/"
        nzListType="picture-card"
        [(nzFileList)]="imagesList"
        [nzShowButton]="imagesList.length < 1"
        [nzPreview]="handlePreview"
        [nzRemove]="handleRemove">
        <i class="anticon anticon-picture"></i>
        <div class="ant-upload-text">Upload Logo</div>
      </nz-upload>
      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
        </ng-template>
      </nz-modal>
      <input type="hidden" formControlName="logo">

      <nz-form-explain *ngIf="form.get('logo').dirty && form.get('logo').errors" style="color: #f5222d">
        <ng-container *ngIf="form.get('logo').hasError('required')">
          Please upload a brand logo!
        </ng-container>
      </nz-form-explain>

    </nz-form-item>
    <!--/ Logo uploader -->

    <!-- Button -->
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isSubmitting"><i class="anticon anticon-check"></i> <span>Submit</span></button>
        <button nz-button (click)="resetForm($event)"><i class="anticon anticon-retweet"></i> <span>Reset</span></button>
      </nz-form-control>
    </nz-form-item>
    <!-- /Button -->
  </form>
</nz-card>
