<nz-card nzTitle="Categories form">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'" class="category-form" (ngSubmit)="submitForm($event,form.value)">
    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- Name input -->
        <nz-form-item>
          <nz-form-label nzRequired>Category name</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-tag-o">
              <input nz-input formControlName="name" placeholder="Enter name of category.">
            </nz-input-group>

            <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">
              <ng-container *ngIf="form.get('name').hasError('required')">
                Please input category name!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /name input -->
      </div>

      <div nz-col [nzSpan]="12">
        <!-- Handle input -->
        <nz-form-item>
          <nz-form-label nzRequired>Handle</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-link">
              <input nz-input formControlName="handle" placeholder="Enter handle url of category." [nzAutocomplete]="auto" (focus)="makeHandleSuggest($event)">
            </nz-input-group>

            <nz-autocomplete nzBackfill #auto>
              <nz-auto-option *ngFor="let hs of handleSuggest" [nzValue]="hs">
                {{hs}}
              </nz-auto-option>
            </nz-autocomplete>
            <nz-form-explain *ngIf="form.get('handle').dirty && form.get('handle').errors || form.get('handle').pending">
              <ng-container *ngIf="form.get('handle').hasError('required')">
                Please input handle url of category!
              </ng-container>
              <ng-container *ngIf="form.get('handle').hasError('pattern')">
                Handle url only have characters, numbers, and '-' or '_'!
              </ng-container>
              <ng-container *ngIf="form.get('handle').hasError('duplicated')">
                The handle is duplicated!
              </ng-container>
              <ng-container *ngIf="form.get('handle').pending">
                Validating...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- /handle input -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="24">
        <!-- Description input -->
        <nz-form-item>
          <nz-form-label nzRequired>Description</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-flag">
              <textarea formControlName="description" nz-input rows="2" placeholder="Write description of brand."></textarea>
            </nz-input-group>
            <nz-form-explain *ngIf="form.get('description').dirty&&form.get('description').hasError('required')">Please write category description!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- Description input -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="12">
        <!-- Description input -->
        <nz-form-item>
          <nz-form-label nzRequired>
            <span>
            Level
            <nz-tooltip nzTitle="Root is the biggest categories! Second group is sub category of root! Product is category that products are in!">
              <i nz-tooltip class="anticon anticon-question-circle-o"></i>
            </nz-tooltip>
          </span>
          </nz-form-label>
          <nz-form-control>
            <nz-select formControlName="level" nzPlaceHolder="Select a level" (ngModelChange)="levelChange()" [nzDisabled]="formMethod==='PUT'">
              <nz-option nzLabel="Root category" [nzValue]=1></nz-option>
              <nz-option nzLabel="Second Group" [nzValue]=2></nz-option>
              <nz-option nzLabel="Product Category" [nzValue]=3></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="form.get('level').dirty&&form.get('level').hasError('required')">Please select category level!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- Description input -->
      </div>

      <div nz-col [nzSpan]="12">
        <!-- Description input -->
        <nz-form-item>
          <nz-form-label [nzRequired]="![null, 1].includes(form.controls.level.value)">Parent</nz-form-label>
          <nz-form-control>
            <nz-select [formControlName]="'parent'" nzPlaceHolder="Select parent" [nzDisabled]="listParents.length===0">
              <nz-option *ngFor="let p of listParents" [nzLabel]="p.name" [nzValue]="p._id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="form.get('parent').dirty&&form.get('parent').hasError('required')">Please select parent when category isn't root category!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- Description input -->
      </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col [nzSpan]="24">
        <!-- Button -->
        <nz-form-item>
          <nz-form-control nz-col [nzSpan]="24">
            <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isSubmitting"><i class="anticon anticon-check"></i> <span>Submit</span></button>
            <button nz-button (click)="resetForm($event)"><i class="anticon anticon-retweet"></i> <span>Reset</span></button>
          </nz-form-control>
        </nz-form-item>
        <!-- /Button -->
      </div>
    </div>

  </form>
</nz-card>
