.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

nz-sider {
  background: #fff;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  padding-top: 20px;
}

.custom-header {
  padding: 0 10px 0 0;
  background: #ffffff;
  position:fixed;
  width: 100%; 
  z-index: 999;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 0 2px 5px 1px rgba(0,0,0,.3);
  box-shadow: 0 2px 5px 1px rgba(0,0,0,.3);
}

.progress-content {
  margin-top: 55px;
}
.ant-layout-header {
  line-height: 0;
}
.main-content {
  margin: 70px 16px 0 16px;
}

nz-footer {
  text-align: center;
  margin-top: 25px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.header-brand {
  height: 64px;
  padding: 15px 15px 15px 0;
  font-size: 18px;
  line-height: 64px;
  font-weight: bold;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

.fade-out {
  opacity: .5;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

:host ::ng-deep nz-progress.progress-transit .ant-progress-bg {
  animation-timing-function: ease-in;
  animation-duration: .2s;
  height: 3px!important;
}

.fade-start {
  opacity: 0;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .50;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .88;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .63;
  }
  100% {
    opacity: .5;
  }
}
