<nz-layout>
  <nz-header class="custom-header">
    <nz-progress [nzPercent]="progressPercent" [nzStatus]="progressStatus" [hidden]="!showProgress" nzSize="small" [nzShowInfo]="false" class="progress-transit" style="margin: 0"></nz-progress>
    <i class="anticon trigger" [class.anticon-menu-fold]="!collapsedMenu" [class.anticon-menu-unfold]="collapsedMenu" (click)="collapsedMenu=!collapsedMenu"></i>
    <a href="javascript:void(0)" class="header-brand">CSM Admin</a>
  </nz-header>
  <nz-sider nzCollapsible [(nzCollapsed)]="collapsedMenu" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" app-navbar-items>

    </ul>
  </nz-sider>
  <nz-layout [ngStyle]="{'margin-left.px': collapsedMenu?0:200, 'background-color': '#fff'}">

    <nz-content class="main-content" [ngClass]="{'fade-in': !startChangeRoute, 'fade-start': startChangeRoute}">
      <app-breadcrumb></app-breadcrumb>
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </nz-content>
    <nz-footer>Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
