<nz-card nzTitle="Categories" [nzLoading]="tableLoading">
  <div nz-row>
    <div nz-col [nzSm]="6" style="margin-right: 5px; margin-bottom: 10px">
      <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input placeholder="Search categories" [(ngModel)]="searchQuery" (input)="onInputSearch()" (keyup.enter)="searchCategories()">
      </nz-input-group>
    </div>
    <div nz-col [nzSm]="4" style="margin-bottom: 10px; margin-right: 5px">
      <nz-select nzAllowClear nzPlaceHolder="Choose level" style="width: 100%" [(ngModel)]="selectedLevel" (ngModelChange)="onSelectedLevel()">
        <nz-option [nzValue]=1 nzLabel="Root"></nz-option>
        <nz-option [nzValue]=2 nzLabel="Second group"></nz-option>
        <nz-option [nzValue]=3 nzLabel="Product category"></nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSm]="10" style="margin-bottom: 10px">
      <a nz-button nzType="primary" routerLink="/categories/create"><i class="anticon anticon-addfolder"></i> <span>Add</span></a>
      <button nz-button nzType="danger" [nzLoading]="isDeleting"
              nz-popconfirm [nzTitle]="'Are you sure to delete the selected categories?'" (nzOnConfirm)="deleteSelected()" nzPlacement="topRight">
        <i class="anticon anticon-delete"></i> <span>Delete Selected</span>
      </button>
    </div>
  </div>

  <app-error-not-found *ngIf="data.length===0&&!tableLoading"></app-error-not-found>
  <nz-table
    *ngIf="data.length!==0||tableLoading"
    #dynamicTable
    [nzData]="data"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzTitle]="'List brands'"
    [nzSize]="'small'"
    [nzScroll]="{ x:'800px'}">
    <thead>
    <tr>
      <th nzShowCheckbox nzLeft="0px" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th>Handle</th>
      <th>Name</th>
      <th>Level</th>
      <th nzWidth="400px">Description</th>
      <th nzWidth="100px">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
      <tr>
        <td nzShowCheckbox nzLeft="0px" [(nzChecked)]="data.checked" (nzCheckedChange)="checkOne()"></td>
        <td>{{data.handle}}</td>
        <td>{{data.name}}</td>
        <td>{{levelMapping[data.level]}}</td>
        <td>{{data.description}}</td>
        <td>
          <a (click)="openEditModal(data)"><i class="anticon anticon-edit"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a *ngIf="!isDeleting"
             nz-popconfirm [nzTitle]="'Are you sure to delete category ' + data.name + '?'"
             (nzOnConfirm)="confirmDelete(data)" (nzOnCancel)="cancelDelete()" nzPlacement="topRight"><i class="anticon anticon-delete"></i></a>
          <a disabled *ngIf="isDeleting" nzPlacement="topRight"><i class="anticon anticon-delete"></i></a>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
  <nz-pagination *ngIf="meta"
                 [(nzPageIndex)]="meta.current_page"
                 [nzTotal]="meta.total_items"
                 [nzSize]="'small'" nzShowSizeChanger nzShowQuickJumper
                 [nzShowTotal]="totalTemplate"
                 (nzPageSizeChange)="onChangePageSize($event)"
                 (nzPageIndexChange)="onPageIndexChange($event)">
  </nz-pagination>
  <ng-template #totalTemplate let-total>Total {{total}} items</ng-template>
</nz-card>
