<nz-card nzTitle="Products" [nzLoading]="tableLoading">
  <div nz-row>
    <div nz-col [nzSm]="6" style="margin-right: 5px; margin-bottom: 10px">
      <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input placeholder="Search products" [(ngModel)]="searchQuery" (input)="onInputSearch()" (keyup.enter)="searchProducts()">
      </nz-input-group>
    </div>
    <div nz-col [nzSm]="3" style="margin-bottom: 10px; margin-right: 5px">
      <nz-select style="width: 100%;"
                 [(ngModel)]="selectedCategory"
                 (ngModelChange)="onchangeCategory($event)"
                 nzPlaceHolder="Select category"
                 nzAllowClear nzShowSearch [nzServerSearch]="true"
                 (nzOnSearch)="onSearchCategories($event)">
        <ng-container *ngFor="let o of listCategories">
          <nz-option *ngIf="!isLoading" [nzValue]="o._id" [nzLabel]="o.name"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSm]="3" style="margin-bottom: 10px; margin-right: 5px">
      <nz-select style="width: 100%;"
                 [(ngModel)]="selectedBrand"
                 nzPlaceHolder="Select brand"
                 (ngModelChange)="onChangeBrand($event)"
                 nzAllowClear nzShowSearch [nzServerSearch]="true"
                 (nzOnSearch)="onSearchBrands($event)">
        <ng-container *ngFor="let o of listBrands">
          <nz-option *ngIf="!isLoading" [nzValue]="o._id" [nzLabel]="o.name"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSm]="10" style="margin-bottom: 10px">
      <a nz-button nzType="primary" routerLink="/products/create"><i class="anticon anticon-addfolder"></i> <span>Add</span></a>
      <button nz-button nzType="danger" [nzLoading]="isDeleting"
              nz-popconfirm [nzTitle]="'Are you sure to delete the selected categories?'" (nzOnConfirm)="deleteSelected()" nzPlacement="topRight">
        <i class="anticon anticon-delete"></i> <span>Delete Selected</span>
      </button>
    </div>
  </div>

  <app-error-not-found *ngIf="data.length===0&&!tableLoading"></app-error-not-found>
  <nz-table
    *ngIf="data.length!==0||tableLoading"
    #dynamicTable
    [nzData]="data"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzTitle]="'List brands'"
    [nzSize]="'small'"
    [nzScroll]="{ x:'800px'}">
    <thead>
    <tr>
      <th nzShowCheckbox nzLeft="0px" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th>Image</th>
      <th>Code</th>
      <th>Name</th>
      <th style="min-width: 50px;">Price</th>
      <th>Categories</th>
      <th>Brand</th>
      <th nzWidth="100px">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
      <tr>
        <td nzShowCheckbox nzLeft="0px" [(nzChecked)]="data.checked" (nzCheckedChange)="checkOne()"></td>
        <td style="text-align: center"><img [src]="data.images[0]" [alt]="data.name" style="width: 40px"></td>
        <td>{{data.code}}</td>
        <td>{{data.name}}</td>
        <td>{{data.price}}</td>
        <td>
          <ng-container *ngIf="data.categories.length > 0">|</ng-container>
          <ng-container *ngFor="let c of data.categories"> {{c.name}} |</ng-container>
        </td>
        <td>{{data.brand.name}}</td>
        <td>
          <a (click)="openEditModal(data)"><i class="anticon anticon-edit"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a *ngIf="!isDeleting"
             nz-popconfirm [nzTitle]="'Are you sure to delete product ' + data.name + '?'"
             (nzOnConfirm)="confirmDelete(data)"
             (nzOnCancel)="cancelDelete()" nzPlacement="topRight"><i class="anticon-delete anticon"></i></a>
          <a disabled *ngIf="isDeleting" nzPlacement="topRight"><i class="anticon-delete anticon"></i></a>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
  <nz-pagination *ngIf="meta"
                 [(nzPageIndex)]="meta.current_page"
                 [nzTotal]="meta.total_items"
                 [nzSize]="'small'" nzShowSizeChanger nzShowQuickJumper
                 [nzShowTotal]="totalTemplate"
                 (nzPageSizeChange)="onChangePageSize($event)"
                 (nzPageIndexChange)="onPageIndexChange($event)">
  </nz-pagination>
  <ng-template #totalTemplate let-total>Total {{total}} items</ng-template>
</nz-card>
