<nz-card nzTitle="Brands" [nzLoading]="tableLoading">
  <div nz-row>
    <div nz-col [nzSm]="6" style="margin-right: 5px; margin-bottom: 10px">
      <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input placeholder="Search users" [(ngModel)]="searchQuery" (keyup.enter)="searchUsers()">
      </nz-input-group>
    </div>
    <div nz-col [nzSm]="10" style="margin-bottom: 10px">
      <a nz-button nzType="primary" routerLink="/brands/create"><i class="anticon anticon-addfolder"></i> <span>Add</span></a>
      <button nz-button nzType="danger" [nzLoading]="isDeleting"
              nz-popconfirm [nzTitle]="'Are you sure to delete the selected brands?'" (nzOnConfirm)="deleteSelected()" nzPlacement="topRight">
        <i class="anticon anticon-delete"></i> <span>Delete Selected</span>
      </button>
    </div>
  </div>

  <app-error-not-found *ngIf="data.length===0&&!tableLoading"></app-error-not-found>
  <nz-table
    *ngIf="data.length!==0||tableLoading"
    #dynamicTable
    [nzData]="data"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzTitle]="'List brands'"
    [nzSize]="'small'"
    [nzScroll]="{ x:'800px'}">
    <thead>
    <tr>
      <th nzShowCheckbox nzLeft="0px" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th>Code</th>
      <th>Full Name</th>
      <th>Username</th>
      <th>Phone</th>
      <th>Address</th>
      <th nzWidth="100px">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
      <tr>
        <td nzShowCheckbox nzLeft="0px" [(nzChecked)]="data.checked" (nzCheckedChange)="checkOne()"></td>
        <td>{{data.user_code}}</td>
        <td>{{data.full_name}}</td>
        <td><ng-container *ngIf="data.account">{{data.account.username}}</ng-container></td>
        <td>{{data.phone}}</td>
        <td>{{data.address}}</td>
        <td>
          <a (click)="openEditAccountModal(data)" nz-tooltip nzTitle="Add user's account!" *ngIf="!data.account"><i class="anticon-user-add anticon"></i></a>
          <a (click)="openEditAccountModal(data)" nz-tooltip nzTitle="Watch and edit user's account!" *ngIf="data.account"><i class="anticon-user anticon"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openEditUserModal(data)" nz-tooltip nzTitle="Watch and edit user's info!"><i class="anticon-profile anticon"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a *ngIf="!isDeleting"
             nz-popconfirm
             [nzTitle]="'Are you sure to delete user ' + data.full_name + '?'" (nzOnConfirm)="confirmDelete(data)"
             (nzOnCancel)="cancelDelete()"
             nzPlacement="topRight">
            <i class="anticon anticon-delete"></i>
          </a>
          <a disabled *ngIf="isDeleting" nzPlacement="topRight"><i class="anticon anticon-delete"></i></a>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
  <nz-pagination *ngIf="meta"
                 [(nzPageIndex)]="meta.current_page"
                 [nzTotal]="meta.total_items"
                 [nzSize]="'small'" nzShowSizeChanger nzShowQuickJumper
                 [nzShowTotal]="totalTemplate"
                 (nzPageSizeChange)="onChangePageSize($event)"
                 (nzPageIndexChange)="onPageIndexChange($event)">
  </nz-pagination>
  <ng-template #totalTemplate let-total>Total {{total}} items</ng-template>
</nz-card>
