<div nz-row [nzGutter]="8" *ngIf="formToDisplay.includes('user')">
  <nz-card nzTitle="Card title">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" class="user-form">
      <div nz-row nzGutter="8">

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Full name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="full_name" placeholder="Enter user's full name.">
              <nz-form-explain *ngIf="form.get('full_name').dirty && form.get('full_name').errors">
                Please input user's full name
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="email" placeholder="Enter user's address.">
              <nz-form-explain *ngIf="form.get('email').dirty && form.get('email').errors">
                <ng-container *ngIf="form.get('email').hasError('required')">
                  Please input user's email!
                </ng-container>
                <ng-container *ngIf="form.get('email').hasError('email')">
                  This isn't a correct email!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

      <div nz-row nzGutter="8">
        <div nz-col [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzRequired>City</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="city" [nzPlaceHolder]="'Select user\'s city'" (ngModelChange)="onSelectedCity($event)">
                <nz-option *ngFor="let c of cities" [nzLabel]="c.Title" [nzValue]="c.ID"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="form.get('city').dirty && form.get('city').errors">
                Please select city of user!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzRequired>District</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="district"
                         [nzPlaceHolder]="'Select user\'s district'"
                         [nzDisabled]="checkSelectDisabled()"
                         (ngModelChange)="onSelectedDistrict()">
                <nz-option *ngFor="let d of districts" [nzLabel]="d.Title" [nzValue]="d.ID"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="form.get('district').dirty && form.get('district').errors">
                Please select user's district!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzRequired>Ward</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="ward"
                         [nzPlaceHolder]="'Select user\'s ward'"
                         [nzDisabled]="checkSelectDisabled('wards')">
                <nz-option *ngFor="let w of wards" [nzLabel]="w.Title" [nzValue]="w.ID"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="form.get('ward').dirty && form.get('ward').errors">
                Please select user's ward!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzGutter="8">

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Address</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="address" placeholder="Enter user's address.">
              <nz-form-explain *ngIf="form.get('address').dirty && form.get('address').errors">
                Please input user's address!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Phone number</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                <input nz-input formControlName="phone" placeholder="Enter user's phone number">
              </nz-input-group>
              <nz-form-explain *ngIf="form.get('phone').dirty && form.get('phone').errors">
                <ng-container *ngIf="form.get('phone').hasError('required')">
                  Please input user's phone number!
                </ng-container>
                <ng-container *ngIf="form.get('phone').hasError('pattern')">
                  This isn't a correct phone number! The correct is +84 1667279697 or +84 166 727 9697,...
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
            <ng-template #addOnBeforeTemplate>
              <nz-select [(ngModel)]="phoneStart" [ngModelOptions]="{standalone: true}">
                <nz-option [nzLabel]="'+84'" [nzValue]="'+84'"></nz-option>
                <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"></nz-option>
              </nz-select>
            </ng-template>
          </nz-form-item>
        </div>

      </div>

      <div nz-row nzGutter="8">

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Birthday</nz-form-label>
            <nz-form-control [nzXs]="24">
              <nz-date-picker formControlName="birthday" [nzFormat]="'yyyy-MM-dd'" [nzDisabledDate]="disabledDate" nzPlaceHolder="Select user's birthday"></nz-date-picker>
              <nz-form-explain *ngIf="form.get('birthday').dirty && form.get('birthday').errors">
                <ng-container *ngIf="form.get('birthday').hasError('required')">
                  Please select user's birthday!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Gender</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="gender" [nzPlaceHolder]="'Select user\'s gender'">
                <nz-option [nzLabel]="'Male'" [nzValue]="1"></nz-option>
                <nz-option [nzLabel]="'Female'" [nzValue]="0"></nz-option>
                <nz-option [nzLabel]="'Other'" [nzValue]="2"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="form.get('gender').dirty && form.get('gender').errors">
                <ng-container *ngIf="form.get('gender').hasError('required')">
                  Please select user's gender!
                </ng-container>
                <ng-container *ngIf="form.get('gender').hasError('enum')">
                  Please select correct gender!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </form>
  </nz-card>
</div>

<div nz-row [nzGutter]="8" style="margin-top: 10px;" *ngIf="formToDisplay.includes('account')">
  <ng-template #title>
    <span>Account</span>&nbsp;
    <label nz-checkbox [(ngModel)]="includeAccount" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeIncludeAccountStatus($event)"> Add account with user's info</label>
  </ng-template>
  <nz-card [nzTitle]="!target||target!=='account'?title:null">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" class="user-form">
      <div nz-row nzGutter="8">

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="includeAccount">Username</nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="username" placeholder="Enter account username.">
              <nz-form-explain *ngIf="form.get('username').dirty && form.get('username').errors || form.get('username').pending">
                <ng-container *ngIf="form.get('username').hasError('required')">
                  Please input account's username!
                </ng-container>
                <ng-container *ngIf="form.get('username').hasError('minlength')">
                  Username must have at least 8 characters!
                </ng-container>
                <ng-container *ngIf="form.get('username').hasError('maxlength')">
                  Username must longer than 50 characters!
                </ng-container>
                <ng-container *ngIf="form.get('username').hasError('pattern')">
                  Username mustn't contain special characters!
                </ng-container>
                <ng-container *ngIf="form.get('username').hasError('duplicated')">
                  This username has been existed!
                </ng-container>
                <ng-container *ngIf="form.get('username').pending">
                  Validating...
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="includeAccount">Password</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="password" placeholder="Enter account password." type="password">
              <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">
                <ng-container *ngIf="form.get('password').hasError('required')">
                  Please input your Password!
                </ng-container>
                <ng-container *ngIf="form.get('password').hasError('minlength')">
                  Password must have at least 8 characters!
                </ng-container>
                <ng-container *ngIf="form.get('password').hasError('pattern')">
                  Not a correct password! Password mustn't contain space!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

      <div nz-row nzGutter="8">

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="includeAccount">Account type</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="type" [nzPlaceHolder]="'Select account\'s type'">
                <nz-option [nzLabel]="'Customer'" [nzValue]="1"></nz-option>
                <nz-option [nzLabel]="'Employee'" [nzValue]="2"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="form.get('type').dirty && form.get('type').errors">
                <ng-container *ngIf="form.get('type').hasError('required')">
                  Please select account's type!
                </ng-container>
                <ng-container *ngIf="form.get('type').hasError('enum')">
                  Please select correct account's type!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label [nzRequired]="includeAccount">Confirm Password</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="passwordConfirm" placeholder="Confirm account's password." type="password">
              <nz-form-explain *ngIf="form.get('passwordConfirm').dirty && form.get('passwordConfirm').errors">
                <ng-container *ngIf="form.get('passwordConfirm').hasError('required')">
                  Please confirm the password!
                </ng-container>
                <ng-container *ngIf="form.get('passwordConfirm').hasError('compare')">
                  Password not match!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
    </form>
  </nz-card>

</div>

<div nz-row style="text-align: center; margin-top: 10px;">
  <button nz-button nzType="primary" style="margin-right: 5px;" (click)="submitForm()" [disabled]="!form.valid" [nzLoading]="isSubmitting"><i class="anticon anticon-check"></i> <span>Submit</span></button>
  <button nz-button nzType="default" (click)="resetForm($event)"><i class="anticon anticon-retweet"></i> <span>Reset</span></button>
</div>
