/* You can add global styles to this file, and also import other style files */
.ant-layout-header {
  background: #ffffff;
}
.ant-progress {
  line-height: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
