<div class="root">
  <div class="title">
    Error
  </div>
  <div class="detail">
    This page doesn't existed!
  </div>
  <a routerLink="/" nz-button [nzSize]="'large'" nzType="default" class="link-btn">Home page</a>
</div>
